@import "tailwindcss";

@theme {
    --color-green: #A0C878;
    --color-gray : #D9D9D9;
    --color-textColor : #6B7280;
    --color-bgYellow : #FAF6E9;
}

html, body, #root {
  height: 100%;
  margin: 0;
}
